* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e3bab3; 
    color: #333; 
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 20px;
}

h1, h2, h3, p {
    text-align: center;
}

.hero {
    background-color: #f9e4d9; 
    padding: 10% 0; 
}

.hero h1 {
    font-size: 4vw; 
    color: #333;
    margin-bottom: 20px;
}

.hero p {
    font-size: 2vw; 
    color: #555;
    margin-bottom: 20px;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6fb98f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #4d8464;
}

.projects {
    padding: 10% 0;
}

.projects h2 {
    font-size: 3vw; 
    color: #6fb98f;
    margin-bottom: 5vw; 
}

.project {
    margin-bottom: 5vw;
    padding: 5vw; 
    background-color: #f9e4d9;
    border-radius: 5px;
}

.project h3 {
    font-size: 2.5vw; 
    color: #333;
    margin-bottom: 1.5vw;
}

.project p {
    font-size: 1.5vw; 
    color: #555;
}

footer {
    background-color: #6fb98f;
    color: #fff;
    padding: 5% 0; 
    text-align: center;
}

footer a {
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
}
